body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

*{
	margin:0;
	-webkit-user-select: none;
	font-family: Georgia, sans-serif;
}
canvas{
	cursor: crosshair;
	border:black solid 1px;
	position:absolute;
	left:0px;
	top:0px;
 }

#my_canvas {
	z-index: 999;
}

a{
	font-size:20px;
	text-decoration:none;
	background:#4CA64C;
	color:#fff;
	padding:5px;
 }

div#bottom_panel {
	position: absolute;
	top:501px !important;
	left: 0px;
}
#clr div{
	cursor:pointer;
	cursor:hand;
	width:40px;
	height:20px;
	float:left;
}
img{
 height:100px;
 width:100px;
 border:1px red solid;
 margin-left:2px;
 background:none;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
